/* GLOBAL VARIABLES */

@import './root.css';

/*IMPORTED FONTS*/
/*
font-family: 'Alegreya Sans SC', sans-serif;
font-family: 'Audiowide', cursive;
font-family: 'Bebas Neue', cursive;
font-family: 'Bowlby One SC', cursive;
font-family: 'Bungee', cursive;
font-family: 'Dela Gothic One', cursive;
font-family: 'Open Sans', sans-serif;
font-family: 'Roboto', sans-serif;
font-family: 'Roboto Slab', serif;
*/

main {
    background-image: url(../img/shadowlands_bg_fade.png);
    background-size: cover;
}

/* LEFT CONTAINER */
.left_container {
    flex: 2;
    margin-left: 3rem;
    margin-right: var(--globalMar);
}

    .left_container p {
        text-indent: 4rem;
        text-align: center;
    }

        #blog_logo_big {
            width: 75%
        }

/* RIGHT CONTAINER */
.right_container {
    flex: 1;
    margin-left: var(--globalMar);
    margin-right: 3rem;
    background:rgba(0, 0, 0, 0.5);
    padding: 1.2rem;
}

/*FOOTER*/
    .blog_card {
        
        flex-basis: 224px;
        height: 224px;
        flex-shrink: 0;

        position: relative;
        overflow: hidden;
        background-color: var(--highlight);

        border: 2px solid black;

        -webkit-box-shadow: .5rem .5rem rgba(0, 0, 0, 0.25);  /* Safari 3-4, iOS 4.0.2 - 4.2, Android 2.3+ */
        -moz-box-shadow:    .5rem .5rem rgb(0, 0, 0, 0.25);  /* Firefox 3.5 - 3.6 */
        box-shadow:         .5rem .5rem rgb(0, 0, 0, 0.25);  /* Opera 10.5, IE 9, Firefox 4+, Chrome 6+, iOS 5 */
    }

    .blog_card h4, .blog_card p {
        position: relative;
        z-index: 1;
    }

    .blog_card h4 {
        color: var(--tertiaryColor);
        font-family: var(--impactFont);
        font-size: 150%;
        text-align: center;
    }


    .blog_card img {
        position: absolute;
        z-index: 0;
        width: 224px;
        height: 224px;
        object-fit: scale-down;
        opacity: 25%;
        object-position:top;
    }

        .blog_card img:hover {
            opacity: 33%;
        }

/*PHONE BREAK 720*/
@media only screen and (max-width: 720px) {
        .right_container {
            margin: var(--globalMar);
            justify-content: flex-start;
        }

        .left_container {
            display: flex;
            justify-content: center;
            margin: var(--globalMar);
        }
    }