/* GLOBAL VARIABLES */

@import './root.css';

/*IMPORTED FONTS*/
/*
font-family: 'Alegreya Sans SC', sans-serif;
font-family: 'Audiowide', cursive;
font-family: 'Bebas Neue', cursive;
font-family: 'Bowlby One SC', cursive;
font-family: 'Bungee', cursive;
font-family: 'Dela Gothic One', cursive;
font-family: 'Open Sans', sans-serif;
font-family: 'Roboto', sans-serif;
font-family: 'Roboto Slab', serif;
*/

main {
    flex-direction: column;
}

/*POST*/
.post_wrap {
    border-bottom: 2px dotted var(--dangerDark);
    align-items: center;
}

    .post_wrap img {
        width: var(--boxHeight);
    }

    .post_content {
        color: var(--tertiaryColor);
    }
        .post_content p {
            color: var(--textHighlight);
        }

/*COMMENTS*/
.comment_container {
    color: var(--tertiaryColor);
}

    .comment_container h2 {
        text-indent: 1rem;
    }

    .comment_card {
        background-color: var(--highlight);
    }

    .comment_header {
        width: 100%;
        justify-content: space-between;
    }

/*LINKS FOR THIS PAGE*/
p a:link, h6 a:link {
    color: white;
}

p a:hover, h6 a:hover {
    text-decoration: underline;
}