/* GLOBAL VARIABLES */

@import './root.css';

/*IMPORTED FONTS*/
/*
font-family: 'Alegreya Sans SC', sans-serif;
font-family: 'Audiowide', cursive;
font-family: 'Bebas Neue', cursive;
font-family: 'Bowlby One SC', cursive;
font-family: 'Bungee', cursive;
font-family: 'Dela Gothic One', cursive;
font-family: 'Open Sans', sans-serif;
font-family: 'Roboto', sans-serif;
font-family: 'Roboto Slab', serif;
*/

.user_container h1, h2, h3, h4, h5, h6 {
    text-align: center;
    color: var(--tertiaryColor);
}